version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://backend:5000
    ports:
      - "4173:4173"
    depends_on:
      - backend

  admin-frontend:
    build:
      context: ./admin-frontend
      args:
        VITE_ADMIN_API_BASE_URL: http://backend:5000/api/admin
    ports:
      - "5173:5173"
    depends_on:
      - backend
